/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #ca8e6c62;
}

.lineSeperator {
  display: inline-block;
  width: 94%;
  height: 10px;
  border-radius: 15px;
  margin-left: calc(3%);
  margin-bottom: 4rem;
  background-color: #f4f4f4;
}

/* Media Query */
@media (max-width: 768px) {
  .header ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 2rem 0;
    gap: 2rem 1.2rem;
    align-items: center;
    justify-content: center;
  }

  .blurImage {
    display: none;
  }

  .landing {
    width: 90%;
  }

  .logo {
    font-size: 1rem;
  }

  .card,
  .card2,
  .card3 {
    animation: none;
    position: relative;
    left: 0;
    width: 90%;
    top: 0;
    margin: 2rem 0;
  }

  .card p,
  .card2 p,
  .card3 p {
    font-size: 0.8rem;
  }

  .sectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .chefMaster {
    text-align: center;
  }

  .chefMaster h3 {
    font-size: 1.7rem;
  }

  .chefMaster p {
    font-size: 1rem;
    padding: 1rem 2rem;
  }

  .aboutContainer {
    text-align: center;
  }

  .aboutContainer p {
    padding: 1rem 2rem;
  }

  .cardContainer p:last-child {
    font-size: 0.8rem;
  }

  .cardContainer {
    height: 100%;
  }

  .aboutContainer p {
    letter-spacing: 0;
    word-spacing: 0;
  }

  .cardContainer {
    width: 100%;
  }

  .formContainer input {
    width: 250px !important;
  }

  .footer {
    flex-direction: column;
  }

  .footer div {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 1280px) and (min-width: 768px) {
  .header ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 2rem 0;
    gap: 2rem 5rem;
    align-items: center;
    justify-content: center;
  }

  .card,
  .card2,
  .card3 {
    animation: none;
    position: relative;
    left: calc((100% - 50%) / 2);
    top: 0;
    margin: 2rem 0;
  }

  .blurImage {
    display: none;
  }
}
